#-*-HCL-*-
datacenter = "{{ datacenter }}"
data_dir = "/opt/consul"

ports {
  grpc = 8502
}

connect {
  enabled = true
}

retry_join = [
  {% for host in groups['servers'] %}
  "{{ bind_addr }}",
  {% endfor %}
]

bind_addr = "{{ bind_addr }}"

advertise_addr ="{{ bind_addr }}"
