[Unit]
Description="consul agent"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/consul.d/client.hcl

[Service]
Type=fork
User=root
Group=root
ExecStart=/usr/local/bin/consul agent -bind={{ "\'{{ GetInterfaceIP \"eth1\" }}\'" }} -data-dir=/opt/consul -config-file=/etc/consul.d/client.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
