#-*-HCL-*-
datacenter = "{{ datacenter }}"
data_dir = "/opt/consul"
server = true
bootstrap_expect = {{ bootstrap_expect }}
node_name = "{{ ansible_hostname }}"

ui_config {
  enabled = true
}
ports {
  grpc = 8502
}

connect {
  enabled = true
}

retry_join = [
  {% for host in groups['servers'] %}
  "{{ bind_addr }}",
  {% endfor %}
]

bind_addr = "{{ bind_addr }}"
advertise_addr = "{{ bind_addr }}"
