#-*-HCL-*-
server {
  enabled = true
  bootstrap_expect = {{ bootstrap_expect }}

  server_join {
    retry_join = [
      {% for host in groups['servers'] %}
      "{{ bind_addr }}",
      {% endfor %}
    ]
    retry_max = 3
    retry_interval = "15s"
  }
}
