#-*-HCL-*-
log_level = "DEBUG"
datacenter = "{{ datacenter }}"
data_dir = "/opt/nomad"

advertise {
  http = "{{ bind_addr }}"
  rpc = "{{ bind_addr }}"
  serf = "{{ bind_addr }}"
}

consul {
  address = "127.0.0.1:8500"
}
